.menu-item {
  padding: 4px 16px;
  text-decoration: none;
  color: var(--Text);
  transition-duration: 0.5s;

  &:hover {
    color: var(--Primary-Light);
  }
}

.menu-item.highlight {
  color: var(--Primary);
}